<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyStuff10net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyStuff10net.Properties.Settings.SMT_InventoryConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Documents and Settings\Jose L. Reyes\My Documents\ProductionManager\Production Inventory.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <MyStuff10net.Properties.Settings>
            <setting name="Last_SaveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_CreateDriverDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DriverResourceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_DriverName" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_VID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_PID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnStateWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnAutoSizeMode" serializeAs="String">
                <value />
            </setting>
            <setting name="ResizeHorizontal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResizeVertical" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataBaseAddress" serializeAs="String">
                <value>D:\ProductionManagement</value>
            </setting>
            <setting name="InitialDirectoryImage" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBaseName" serializeAs="String">
                <value>Production Inventory.mdb</value>
            </setting>
            <setting name="comboBox_SecondCondition_AND" serializeAs="String">
                <value>The AND operator displays a record if both the first/n condition and the second condition is true.</value>
            </setting>
            <setting name="comboBox_SecondCondition_OR" serializeAs="String">
                <value>The OR operator displays a record if either the first/n condition or the second condition is true.</value>
            </setting>
            <setting name="comboBox_SecondCondition_None" serializeAs="String">
                <value>The None operator  do not displays a second condition/n or the second condition dialog.</value>
            </setting>
            <setting name="CalendarPlanerMinDate" serializeAs="String">
                <value>2010-01-01</value>
            </setting>
            <setting name="CalendarPlanerMaxDate" serializeAs="String">
                <value>2013-01-26</value>
            </setting>
            <setting name="DataBaseConnectionString4" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\ProductionManagement\Production Inventory.accdb</value>
            </setting>
            <setting name="Downloads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DepartmentName" serializeAs="String">
                <value>No set to any department yet</value>
            </setting>
            <setting name="NotificationsShowMyOwn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationsShowWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifycationsEnableSendReceive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationsSendMyOwn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProductionInventoryDataSetCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splitContainerBomFtvSectionSplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="splitContainerNodeSettingTreeViewSplitterDistance"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="splitContainerHorizontalBomManagementSplitterDistance"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApplicationDefaultHtmlPages" serializeAs="String">
                <value>\Resources\HTML pages\</value>
            </setting>
            <setting name="NotificationsShowDataBaseUpDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationsShowEmails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveEachTimeTheInformationIsChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveTheInformationByTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveTheInformationWhenTheUserSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Every5minutes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Every15minutes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Every30minutes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstallationFirstDate" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="InstallationFirstUser" serializeAs="String">
                <value />
            </setting>
            <setting name="IntervalReadingNotifications" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="IntervalTrackBar_Value" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IntervalTimeUnitName" serializeAs="String">
                <value>seconds</value>
            </setting>
            <setting name="RenameDistFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteOriginalFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeechSynthesizerBaseVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpeechSynthesizerBaseRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataGridViewDrawDoubleBuffering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataGridViewDrawSelectedColor" serializeAs="String">
                <value>-36865</value>
            </setting>
            <setting name="DocumentationBehavior" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="PdfReportUnitOfMeasure" serializeAs="String">
                <value>Inch</value>
            </setting>
            <setting name="PdfReportPaperSizeList" serializeAs="String">
                <value>8.5x11, 8.5x14, 11x17, 12x18</value>
            </setting>
            <setting name="PdfReportMinimumWidthMargin" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReportMaximumLeftMargin" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReportMaximumRightMargin" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReportTopMargin" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReportButtomMargin" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReportTitleFontName" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="PdfReportTitleFontSize" serializeAs="String">
                <value>12.0</value>
            </setting>
            <setting name="PdfReportTitleFontBold" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="PdfReportHeaderFontName" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="PdfReportHeaderFontSize" serializeAs="String">
                <value>8.5</value>
            </setting>
            <setting name="PdfReportHeaderFontBold" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="PdfReportHeaderOnEachPage" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="PdfReportHeaderBackgroudColor" serializeAs="String">
                <value>VeryLightBlue</value>
            </setting>
            <setting name="PdfReportBodyFontName" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="PdfReportBodyFontSize" serializeAs="String">
                <value>8.5</value>
            </setting>
            <setting name="PdfReportBoldSizeFactor" serializeAs="String">
                <value>1.15</value>
            </setting>
            <setting name="PdfReportHeaderMarginHorizontal" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReportHeaderMarginVertical" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReportCellMarginHorizontal" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReportCellMarginVertical" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReportJustifyPageWide" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PdfReportAlternativeRowBackgroudColor" serializeAs="String">
                <value>VeryLightGray</value>
            </setting>
            <setting name="PdfReportShowRowHotizontalLine" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PdfReportCellLineWidth" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="PdfReportCellLineColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="PdfReportGroupHeaderLineWidth" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="PdfReportGroupHeaderLineColor" serializeAs="String">
                <value>VeryDarkGray</value>
            </setting>
            <setting name="PdfReportGroupHeaderBackgroudColor" serializeAs="String">
                <value>VeryLightYellow</value>
            </setting>
            <setting name="PdfReportShowGroupRowHotizontalLine" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PdfReportFrameWidth" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReportGridWidth" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="PdfReport1" serializeAs="String">
                <value />
            </setting>
            <setting name="PdfReport2" serializeAs="String">
                <value />
            </setting>
            <setting name="ASCII_Control_Characters" serializeAs="String">
                <value>03,04,</value>
            </setting>
            <setting name="IsSuperPeer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NgrokUtilityPath" serializeAs="String">
                <value>\Resources\Ngrok\ngrok.exe</value>
            </setting>
            <setting name="ZebraPrintsDarknessValue" serializeAs="String">
                <value>15.0</value>
            </setting>
            <setting name="RightClickRemoveFilter" serializeAs="String">
                <value>Right Click and select 'Remove this Filter' to clear that selection.</value>
            </setting>
            <setting name="ThisIsAnExternalFilter" serializeAs="String">
                <value>This is an external Filter, there is no action to clear that selection.</value>
            </setting>
            <setting name="ThereIsnoFiltertoClear" serializeAs="String">
                <value>There is no Filter to clear at this moment.</value>
            </setting>
            <setting name="ErrorInExternalFilter" serializeAs="String">
                <value>Error in External Filter.</value>
            </setting>
            <setting name="ProcessSearchByClickHasgeneratedanerror" serializeAs="String">
                <value>ProcessSearchByClick(), Search engine has generated an error.</value>
            </setting>
            <setting name="SearchEngineHasGeneratedAnError" serializeAs="String">
                <value>Search engine has generated an error.</value>
            </setting>
            <setting name="USBDeviceCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBaseConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\ProductionManagement\Production Inventory.accdb</value>
            </setting>
            <setting name="PdfViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataBaseConnectionStringSQLite" serializeAs="String">
                <value>data source=D:\ProductionManagement\ProductionInventory.sqlite;</value>
            </setting>
            <setting name="DRIVERRESOURCE_NOTFOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="INSTALLDRIVER_DRIVERLESS_TEXT" serializeAs="String">
                <value>This device is connected and does not currently have a device driver (driverless). Install this driver now to start using it right away.</value>
            </setting>
            <setting name="INSTALLDRIVER_FAILED" serializeAs="String">
                <value>Driver installation failed, check log for details.</value>
            </setting>
            <setting name="INSTALLDRIVER_NOPACKAGE_TEXT" serializeAs="String">
                <value>A setup package must be generated and drivers must be spawned to use the driver installer feature.</value>
            </setting>
            <setting name="INSTALLDRIVER_SUCCESS" serializeAs="String">
                <value>The driver was successfully installed.</value>
            </setting>
            <setting name="INSTALLDRIVER_UPDATE_TEXT" serializeAs="String">
                <value>One or more devices using a {0} service are already installed. The current drivers should be removed before installing this package.</value>
            </setting>
            <setting name="INSTALLDRIVER_WINDOWSSERVICE_TEXT" serializeAs="String">
                <value>One or more devices using a {0} service are already installed.  This package may cause system crashes or blue screens if used!</value>
            </setting>
            <setting name="SETUP_PACKAGE_README_HTM" serializeAs="String">
                <value>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;

&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
    &lt;title&gt;#DEVICE_DESCRIPTION# USB setup package&lt;/title&gt;
    &lt;style type="text/css"&gt;
&lt;!--
body {
	font-family: Tahoma, Verdana, Arial;
	font-size:12px;
}
.title {
	font-weight:bold;
	text-align:center;
	font-size:150%;
}
.copyright {
	font-weight:normal;
	text-align:center;
	font-size:80%;
	text-transform:capitalize;
}
table.info td{
	border-bottom-style: solid;
	border-bottom-color: #C8CDDE;
	border-bottom-width: 1px;
	background: #F7F7FF;
	padding: 0.2em;
	vertical-align: top;
	overflow: hidden;
}
--&gt;
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;table&gt;&lt;tr&gt;&lt;td&gt;
    &lt;div class="title"&gt;#DEVICE_DESCRIPTION# USB setup package&lt;/div&gt;
    &lt;div class="copyright"&gt;generated by LibUsbDotNet InfWizard&amp;#169;&lt;/div&gt;
    &lt;br/&gt;
    &lt;table class="info"&gt;
        &lt;tr&gt;&lt;td&gt;Driver Resource&lt;/td&gt;&lt;td&gt;#DisplayName#&lt;/td&gt;&lt;/tr&gt;
        &lt;tr&gt;&lt;td&gt;VID / PID&lt;/td&gt;&lt;td&gt;#VID# / #PID# (#HARDWAREID#)&lt;/td&gt;&lt;/tr&gt;
        &lt;tr&gt;&lt;td&gt;Manufacturer&lt;/td&gt;&lt;td&gt;#DEVICE_MANUFACTURER#&lt;/td&gt;&lt;/tr&gt;
        &lt;tr&gt;&lt;td&gt;Description&lt;/td&gt;&lt;td&gt;#DEVICE_DESCRIPTION#&lt;/td&gt;&lt;/tr&gt;
        &lt;tr&gt;&lt;td&gt;Driver Date&lt;/td&gt;&lt;td&gt;#DRIVER_DATE#&lt;/td&gt;&lt;/tr&gt;
        &lt;tr&gt;&lt;td&gt;Driver Version&lt;/td&gt;&lt;td&gt;#DRIVER_VERSION#&lt;/td&gt;&lt;/tr&gt;
        &lt;tr&gt;&lt;td&gt;DeviceInterfaceGUID&lt;/td&gt;&lt;td&gt;#DEVICE_INTERFACE_GUID#&lt;/td&gt;&lt;/tr&gt;
    &lt;/table&gt;
    &lt;hr /&gt;
    &lt;div&gt;&lt;pre&gt;#Description#&lt;/pre&gt;&lt;/div&gt;
    &lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
        </MyStuff10net.Properties.Settings>
    </userSettings>
</configuration>